# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/invitemanager?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# ImageKit
IMAGEKIT_PUBLIC_KEY="your_imagekit_public_key"
IMAGEKIT_PRIVATE_KEY="your_imagekit_private_key"
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/your_imagekit_id"
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="your_imagekit_public_key"
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/your_imagekit_id"

# SasPay (https://app.saspay.me/dashboard/developpeur)
SASPAY_SECRET_KEY="sk_test_..."
SASPAY_WEBHOOK_SECRET="Jesusmonmaitre"
SASPAY_CURRENCY="XOF"
SASPAY_FEE_MODE="ADD_ON"
SASPAY_BASE_URL="https://api.saspay.me/api/v1"

# App
NEXT_PUBLIC_APP_URL="https://invitation-gamma-azure.vercel.app"

